*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("matrix-356024_960_720.jpg");
}

div{
  width: 90%;
  height: 270px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 3rem;
}

h1{
    text-align: center;

}

.resim{
    float: left;
    width: 33%;
    margin-right: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.resim:hover{
    width: 30rem;
}

p{

}

.clearfix{
    clear: both;
}

.bootcamp{
    
}

h2{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

button{
    float:right;
    background-color: orange;
    border-radius: 5px;
    color: white;
    width: 5rem;
    height: 2.5rem;
    box-sizing: border-box;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
}